* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 46.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

.center-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.title-1 {
  font-size: 1.2em;
  font-weight: bold;
}

.title-2 {
  font-size: 1.5em;
  font-weight: bold;
}

.title-3 {
  font-size: 1.8em;
  font-weight: bold;
}
.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 2.5rem;
}

.gap-4 {
  gap: 4rem;
}

.full-width {
  width: 100%;
}

input[type='text'],
input[type='password'],
input[type='Number'],
select,
textarea {
  padding: 0.5rem;
  width: 100%;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid #ccc;

  transition: all 0.3s;
}

.button {
  outline: none;
  padding: 0.7rem;
  min-width: 100px;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.7;
  border: none;
}

.button:hover {
  opacity: 1;
}

.bg-blue {
  background: #3172eb;
  color: #fff;
}

.font-size-1 {
  font-size: 1.1em;
}

.font-size-2 {
  font-size: 1.2em;
}

.font-size-3 {
  font-size: 1.3em;
}

.font-size-4 {
  font-size: 1.4em;
}

.card {
  border: 1px solid #d8e1eb;
  padding: 2rem;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  border-radius: 0.5rem;
}
