* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 46.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

.center-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.title-1 {
  font-size: 1.2em;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

input[type='text'],
input[type='password'],
input[type='Number'],
select,
textarea {
  padding: 0.5rem;
  width: 100%;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid #ccc;

  transition: all 0.3s;
}

.button {
  outline: none;
  padding: 0.7rem;
  min-width: 100px;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.7;
  border: none;
}

.button:hover {
  opacity: 1;
}

.bg-blue {
  background: #3172eb;
  color: #fff;
}
